# Used by the relayer to complete transfers on solana testnet
# must have SOL balance to complete transactions
HYP_CHAINS_SOLANATESTNET_SIGNER_KEY=<REPLACE_WITH_SOLANA_PRIVATE_KEY>

# Private key for the validator agent, this is used to sign the merkle tree state
# It should be an ethereum style private key
HYP_VALIDATOR_KEY=0x0d87c12ea7c12024b3f70a26d735874608f17c8bce2b48e6fe87389310191264
# Validator is setup to validate sov -> solana tranasactions
# This key is used to announce the validator on the rollup (only a once off tx)
# so needs gas for this single tx
# Currently it is [`../../test-data/keys/token_deployer_private_key.json`]
HYP_CHAINS_SOVSTARTER_SIGNER_KEY=0x0187c12ea7c12024b3f70ac5d73587463af17c8bce2bd9e6fe87389310196c64
